.desktop-up{ display: block; }
.tablet-down{ display: none; }

.breakpoint{
  &:after{
    content: " Desktop";
  }
}

.block{
  padding-top: 90px;
  padding-bottom: 90px;
}

.container {
  margin: 0 auto;
  padding: 0 60px;
  max-width: $container-tv;
}

.reverse-mobile{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

// General Resets
.no-float-desktop { float: none; }
.no-padding-desktop { padding: 0; }
.no-margin-desktop { margin: 0; }

// Display Types
.display-none-desktop { display: none; }
.display-block-desktop { display: block; }
.display-inline-block-desktop { display: inline-block; }
.display-inline-desktop { display: inline; }

// Text Alignments
.text-left-desktop { text-align: left; }
.text-right-desktop { text-align: right; }
.text-center-desktop { text-align: center; }
.text-justify-desktop { text-align: justify; }
