
// ==========================================================================
// Mobile Breakpoint
// ==========================================================================


footer{
  font-size: 15px;
  color: $gray-4 !important;
  .logo{
    background: url('../img/logo.svg');
    background-size: cover;
    display: block;
    width: 70px;
    height: 50px;
    border: 0 !important;
  }
  .back-to-top{
    font-size: 26px;
    border: 0 !important;
  }
}
