.desktop-up{ display: none; }
.tablet-down{ display: block; }

.breakpoint{
  &:after{
    content: " Watch";
  }
}

.container {
  margin: 0 auto;
  padding: 0 28px;
  max-width: $container-tv;
}

section.block{
  padding-top: 45px;
  padding-bottom: 45px;
}

.choke{
  max-width: 600px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.choke-mobile{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
