// Color Scheme

// Gray

/* $gray-0:                               #ffffff;

$gray-1:                               #fafafa;
$gray-2:                               #ececec;
$gray-3:                               #dddddd;

$gray-4:                               #ababab;
$gray-5:                               #909090;
$gray-6:                               #787878;

$gray-7:                               #565656;
$gray-8:                               #454545;
$gray-9:                               #373737;

$gray-10:                              #232323;

// Orange
$orange-1:                             #fff9f6;
$orange-2:                             #ffe7da;
$orange-3:                             #ffd3bd;

$orange-4:                             #ff915a;
$orange-5:                             #fb6d27;
$orange-6:                             #e3550f;

$orange-7:                             #ae3a01;
$orange-8:                             #8b2f01;
$orange-9:                             #6f2601;

// Brown
$brown-1:                              #fffaf4;
$brown-2:                              #ffe8d3;
$brown-3:                              #f6d7bb;

$brown-4:                              #c4a589;
$brown-5:                              #a98a6e;
$brown-6:                              #917256;

$brown-7:                              #6f5034;
$brown-8:                              #5e3f23;
$brown-9:                              #503115;

// Gold
$gold-1:                               #fffaf2;
$gold-2:                               #ffeaca;
$gold-3:                               #fed7a1;

$gold-4:                               #cca56f;
$gold-5:                               #cca56f;
$gold-6:                               #99723c;

$gold-7:                               #77501a;
$gold-8:                               #663f09;
$gold-9:                               #553201;

// Green
$green-1:                              #f6ffed;
$green-2:                              #dbffb9;
$green-3:                              #c5f699;

$green-4:                              #93c467;
$green-5:                              #78a94c;
$green-6:                              #609134;

$green-7:                              #3e6f12;
$green-8:                              #2d5e01;
$green-9:                              #254b01;

// Teal
$teal-1:                               #f0fffd;
$teal-2:                               #c3fff7;
$teal-3:                               #9dfaee;

$teal-4:                               #6bc8bc;
$teal-5:                               #50ada1;
$teal-6:                               #389589;

$teal-7:                               #167367;
$teal-8:                               #056256;
$teal-9:                               #015046;

// Blue
$blue-1:                               #f8fbff;
$blue-2:                               #e0efff;
$blue-3:                               #c7e2ff;

$blue-4:                               #77b7f9;
$blue-5:                               #5c9cde;
$blue-6:                               #4484c6;

$blue-7:                               #2262a4;
$blue-8:                               #115193;
$blue-9:                               #034385;

// Purple
$purple-1:                             #fbfaff;
$purple-2:                             #eee8ff;
$purple-3:                             #e1d6ff;

$purple-4:                             #b598ff;
$purple-5:                             #9c77f9;
$purple-6:                             #845fe1;

$purple-7:                             #623dbf;
$purple-8:                             #512cae;
$purple-9:                             #431ea0;

// Plumb
$pulmb-1:                              #fcf9ff;
$pulmb-2:                              #f3e6ff;
$pulmb-3:                              #ead1ff;

$pulmb-4:                              #cc8cff;
$pulmb-5:                              #b56cee;
$pulmb-6:                              #9d54d6;

$pulmb-7:                              #7b32b4;
$pulmb-8:                              #6a21a3;
$pulmb-9:                              #5c1395;

// Magenta
$magenta-1:                            #fef8ff;
$magenta-2:                            #fce1ff;
$magenta-3:                            #fbc9ff;

$magenta-4:                            #f477ff;
$magenta-5:                            #df57eb;
$magenta-6:                            #c73fd3;

$magenta-7:                            #a51db1;
$magenta-8:                            #940ca0;
$magenta-9:                            #83018f;

// Pink
$pink-1:                               #fff8fb;
$pink-2:                               #ffe3f0;
$pink-3:                               #ffcbe5;

$pink-4:                               #ff7ebe;
$pink-5:                               #ff54a9;
$pink-6:                               #f23593;

$pink-7:                               #d01371;
$pink-8:                               #bf0260;
$pink-9:                               #9b014d;

// Red
$red-1:                                #fff9f9;
$red-2:                                #ffe4e7;
$red-3:                                #ffcfd3;

$red-4:                                #ff8692;
$red-5:                                #ff5f6e;
$red-6:                                #fa3d4f;

$red-7:                                #d81b2d;
$red-8:                                #c70a1c;
$red-9:                                #b00112; */

$gray-0:                               #ffffff;

$gray-1:                               #fafafa;
$gray-2:                               #ececec;
$gray-3:                               #dddddd;

$gray-4:                               #b0b0b0;
$gray-5:                               #909090;
$gray-6:                               #787878;

$gray-7:                               #565656;
$gray-8:                               #454545;
$gray-9:                               #373737;

$gray-10:                              #232323;

$color-1:                              #fff9f9;
$color-2:                              #ffe4e7;
$color-3:                              #ffcfd3;

$color-4:                              #ff8692;
$color-5:                              #ff5f6e;
$color-6:                              #f94052;

$color-7:                              #d81b2d;
$color-8:                              #c70a1c;
$color-9:                              #b00112;

/* $gray-0:                            #ffffff;

$gray-1:                               #fafafa;
$gray-2:                               #ececec;
$gray-3:                               #dddddd;

$gray-4:                               #ababab;
$gray-5:                               #909090;
$gray-6:                               #787878;

$gray-7:                               #565656;
$gray-8:                               #454545;
$gray-9:                               #373737;

$gray-10:                              #232323;

$color-1:                              #f8fbff;
$color-2:                              #e0efff;
$color-3:                              #c7e2ff;

$color-4:                              #77b7f9;
$color-5:                              #5c9cde;
$color-6:                              #4484c6;

$color-7:                              #2262a4;
$color-8:                              #115193;
$color-9:                              #034385; */

// Web Fonts
// @import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700); // https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Vollkorn
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700); // https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Lato

@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css); // Ionic Icons

// Font Families
$regular-font-family:                  helvetica, arial, sans-serif;
$custom-font-family:                   Lato, helvetica, arial, sans-serif;
// $custom-font-family:                   helvetica, arial, sans-serif;
$code-font-family:                     'courier new', monospace, serif;

// Font Weights
$font-light:                           300;
$font-regular:                         400;
$font-bold:                            700;

// Body Typography
$body-background-color:                $gray-0;
$body-font-family:                     $regular-font-family;
$body-font-size:                       18px;
$body-line-height:                     32px;
$body-letter-spacing:                  0.015rem;
$body-font-weight:                     $font-regular;
$body-font-color:                      $gray-9;

// Layout
$block-padding:                        90px;
$callout-bg-color:                     $gray-2;
$nav-bg-color:                         $color-6;
$radius:                               0.3rem;
$border:                               1px;
$transition-speed:                     0.3s;

// Buttons
$button-font-size:                      18px;
$button-font-weight:                    $font-regular;
$button-font-padding:                   0.84rem 1.1rem;
$button-bg-color:                       $color-6;
$button-bg-color-hover:                 $color-7;
$button-font-color:                     $color-1;

// Headings
$heading-font-family:                  $custom-font-family;
$heading-font-weight:                  $font-bold;
$heading-font-color:                   $gray-10;

// Links
$link-color:                           $color-6;
$link-hover-color:                     $color-7;

// Grid Containers
$container-watch: 0px;
$container-mobile: 300px;
$container-tablet: 768px;
$container-desktop: 960px;
$container-tv: 1200px;
$column-gutter: 1.6rem;

// Responsive Breakpoints
$breakpoint-watch:                     ($container-watch + 0px);
$breakpoint-mobile:                    ($container-mobile + 40px);
$breakpoint-tablet:                    ($container-tablet + 40px);
$breakpoint-desktop:                   ($container-desktop + 40px);
$breakpoint-tv:                        ($container-tv + 40px);

// Easing
$easeIn:                               cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeOut:                              cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInOut:                            cubic-bezier(1.000, 0.000, 0.000, 1.000);
