// Color Scheme
$gray-0:                               #ffffff;
$gray-1:                               #fafafa;
$gray-2:                               #ececec;
$gray-3:                               #dddddd;
$gray-4:                               #b0b0b0;
$gray-5:                               #909090;
$gray-6:                               #787878;
$gray-7:                               #565656;
$gray-8:                               #454545;
$gray-9:                               #373737;
$gray-10:                              #232323;

$color-1:                              #fff9f9;
$color-2:                              #ffe4e7;
$color-3:                              #ffcfd3;
$color-4:                              #ff8692;
$color-5:                              #ff5f6e;
$color-6:                              #f94052;
$color-7:                              #d81b2d;
$color-8:                              #c70a1c;
$color-9:                              #b00112;

// Font Families
$regular-font-family:                  helvetica, arial, sans-serif;
$custom-font-family:                   Lato, helvetica, arial, sans-serif;
$code-font-family:                     'courier new', monospace, serif;

// Font Weights
$font-light:                           300;
$font-regular:                         400;
$font-bold:                            700;

// Body Typography
$body-background-color:                $gray-0;
$body-font-family:                     $regular-font-family;
$body-font-size:                       18px;
$body-line-height:                     32px;
$body-letter-spacing:                  0.015rem;
$body-font-weight:                     $font-regular;
$body-font-color:                      $gray-9;

// Layout
$block-padding:                        90px;
$callout-bg-color:                     $gray-2;
$nav-bg-color:                         $color-6;
$radius:                               0.3rem;
$border:                               1px;
$transition-speed:                     0.25s;
$transition-speed-slow:                0.4s;

// Buttons
$button-font-size:                      18px;
$button-font-weight:                    $font-regular;
$button-font-padding:                   0.84rem 1.1rem;
$button-bg-color:                       $color-6;
$button-bg-color-hover:                 $color-7;
$button-font-color:                     $color-1;

// Headings
$heading-font-family:                  $custom-font-family;
$heading-font-weight:                  $font-bold;
$heading-font-color:                   $gray-10;

// Links
$link-color:                           $color-6;
$link-hover-color:                     $color-7;

// Grid Containers
$container-watch: 0px;
$container-mobile: 300px;
$container-tablet: 768px;
$container-desktop: 960px;
$container-tv: 1400px;
$column-gutter: 25px;

// Responsive Breakpoints
$breakpoint-watch:                     ($container-watch + 0px);
$breakpoint-mobile:                    ($container-mobile + 20px);
$breakpoint-tablet:                    ($container-tablet + 20px);
$breakpoint-desktop:                   ($container-desktop + 20px);
$breakpoint-tv:                        ($container-tv + 20px);
