
// ==========================================================================
// Forms
// ==========================================================================

form, fieldset {
  padding: 0px;
  border: 0;
}
// Fix Safari Height
input:not([type=checkbox]):not([type=radio]), select{
  height: 2.8rem;
}
input:not([type=checkbox]):not([type=radio]), textarea{
  -webkit-appearance: none;
}
input:not([type=checkbox]):not([type=radio]), textarea, select{
  border-radius: $radius;
  box-shadow: none !important;
  background: $gray-0;
  font-size: 1rem;
	padding: 10px 14px;
  margin: 0px 0px 15px 0px;
	width: 100%;
  border: 0;
	border: $border solid $gray-4;
  transition: border-color $transition-speed ease-out;
	&:focus{
		border: 2px solid $gray-10;
    padding: 9px 13px;
	}
}
input[type='checkbox'], input[type='radio']{
  display: inline-block;
  float: left;
  position: relative;
  top: 10px;
  margin-right: 8px;
}
select {
  text-indent: 5px;
  display: block;
  &:hover,
  &:focus{
    text-indent: 4px;
  }
}
label {
	display:block;
  font-weight: bold;
  padding: 0px 0px 5px 0px;
	&.error{
		color: $color-6;
    padding: 0px 0px 10px 0px;
    margin: -10px 0px 0px 0px;
	}
}
