// Forms, Inputs, Labels
form, fieldset {
  padding: 0px;
  border: 0;
}
input, textarea, select {
  border-radius: $radius;
}
// Fix Safari Rounds inputs :(
input[type=search] {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
// Fix Safari Field height bug
input[type=text],input[type=search],input[type=date],input[type=password],input[type=email],input[type=phone], select{
  height: 2.8rem;
}
input[type=text],input[type=search],input[type=date],input[type=password],input[type=email],input[type=phone],textarea{
  -webkit-appearance: none;
}
input, textarea, select{
  box-shadow: none !important;
  background: $gray-0;
  font-size: 1rem;
	padding: 10px 14px;
  margin: 0px 0px 10px 0px;
	width: 100%;
  border: 0;
	border: $border solid $gray-4;
	&:focus{
		border: $border solid $gray-10;
	}
}
select {
  text-indent: 5px;
  display: block;
}
label {
	display:block;
  font-weight: bold;
  padding: 0px 0px 5px 0px;
	&.error{
		color: red;
    padding: 0px 0px 10px 0px;
    margin: -10px 0px 0px 0px;
	}
}
::-webkit-input-placeholder {
   color: $gray-4;
}

// Grouped Fields
.field-group {
  input,.btn{
    border-radius: 0;
    margin: 0;
    &:not(:last-of-type):not(:focus) {
      border-bottom-color: transparent;
    }
    &:first-of-type {
      border-radius: $radius $radius 0 0;
    }
    &:last-of-type {
      border-radius: 0 0 $radius $radius;
      margin: 0 0 10px;
    }
    .no-left-border{
      border-left-color: transparent !important;
    }
    .top{
      border-radius: $radius $radius 0 0 !important;
    }
    .top-left{
      border-radius: $radius 0 0 0 !important;
    }
    .top-right{
      border-radius: 0 $radius 0 0 !important;
    }
    .bottom{
      border-radius: 0 0 $radius $radius !important;
    }
    .bottom-left{
      border-radius: 0 0 0 $radius !important;
    }
    .bottom-right{
      border-radius: 0 0 $radius 0 !important;
    }

  }
}



/* Custom Checkboxes */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  font-family: "Ionicons";
  position: relative;
  padding-left: 32px;
  cursor: pointer;
}
/* Uncheckbox */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '\f372';
  font-size: 28px;
  position: absolute;
  left: 1px;
  top: 0px;
  width: 30px;
  height: 30px;
  background: #ffffff;
}
/* Checked */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\f373';
  font-size: 28px;
  position: absolute;
  top: 0px;
  left: -4px;
  line-height: 0.8;
  color: $color-6;
  background: #ffffff;
  padding: 5px;
}
/* Checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transition: all $transition-speed ease-out;
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transition: all $transition-speed ease-out;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}




/* Custom Radio */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  font-family: "Ionicons";
  position: relative;
  padding-left: 32px;
  cursor: pointer;
}
/* Unchecked */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {

  content: '\f3a6';
  font-size: 28px;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 30px;
  height: 30px;
  background: #ffffff;
}
/* Checked */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: '\f3a7';
  font-size: 28px;
  position: absolute;
  top: 1px;
  left: -4px;
  line-height: 0.8;
  color: $color-6;
  background: #ffffff;
  padding: 5px;
}
/* Checked mark aspect changes */
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transition: all $transition-speed ease-out;
}
[type="radio"]:checked + label:after {
  opacity: 1;
  transition: all $transition-speed ease-out;
}
[type="radio"]:disabled:checked + label:after {
  color: #999;
}
[type="radio"]:disabled + label {
  color: #aaa;
}
