// Modified Sally Flexbox Grid http://www.meetsally.com/
.container {
  margin: 0 auto;
  padding: 0 $column-gutter;
  max-width: $container-desktop;
}

.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-right: -($column-gutter / 2);
  margin-left: -($column-gutter / 2);
  &.align-middle {
    align-items: center;
  }
  &.align-bottom {
    align-items: flex-end;
  }
  &.align-left {
    justify-content: flex-start;
  }
  &.align-center {
    justify-content: center;
  }
  &.align-right {
    justify-content: flex-end;
  }
}

[class*="col"] {
  width: 100%;
  padding: 0 $column-gutter / 2;
}

@mixin col-size($col) {
  flex-basis: 100% * $col / 12;
  max-width: 100% * $col / 12;
}

@each $col in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
  .col-xs-#{$col} {
    @include col-size($col);
  }
}

@media (min-width: #{$container-mobile}) {
  @each $col in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
    .col-sm-#{$col} {
      @include col-size($col);
    }
  }
}

@media (min-width: #{$container-tablet}) {
  @each $col in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
    .col-md-#{$col} {
      @include col-size($col);
    }
  }
}

@media (min-width: #{$container-desktop}) {
  @each $col in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
    .col-lg-#{$col} {
      @include col-size($col);
    }
  }
}

@media (min-width: #{$container-tv}) {
  @each $col in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
    .col-xlg-#{$col} {
      @include col-size($col);
    }
  }
}
