// ==========================================================================
// Base – Helpers
// ==========================================================================

*:focus {
  outline: 0;
}
*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
  // No Horizontal Scrollbars
  overflow-x: hidden;
  // Flexbox Sticky Footer
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

section.block{
  // @extend .pad-both-5;
  // Flexbox Sticky Footer
  flex: 1;
  .inner{
    @extend .container;
  }
}

/* Verically center and set background to cover, set height to viewport in js. */
.cover{
  @extend .invert;
  //background: $color-6 url('../img/spark.jpg') no-repeat center top;
  background: $color-6;
  background-size: cover;
  position: relative;
  // Center with Flexbox
  display: flex;
  align-items: center;
  justify-content: center;
  .inner{
    text-align: center;
    flex: none;
  }
}

.box-row{
  min-height: 2rem;
  background: $color-6;
  border-radius: $radius;
  overflow: hidden;
  text-align: center;
  color: $gray-0;
  margin-bottom: 1.5rem;
}

.callout{
  background: $callout-bg-color;
}
.muted{
  color: $gray-4;
}
footer{
  .inner{
    @extend .container;
  }
  .footer{
    .logo{
      background: url('../img/logo.svg');
      background-size: cover;
      display: block;
      width: 60px;
      height: 40px;
    }
    .back-to-top{
      font-size: 26px;
    }
    padding-top: 35px;
    padding-bottom: 35px;
    color: $gray-3;
    background: $gray-7;
    a, .link {
      color: $gray-2;
      border-bottom: 0 solid $gray-3;
      padding-bottom: 0;
      &:active,
      &:hover {
        color: $gray-0;
      }
    }
  }
  .copyright{
    padding-top: 28px;
    padding-bottom: 28px;
    color: $gray-4;
    background: $gray-8;
    font-size: 15px;
    a, .link {
      color: $gray-3;
      border-bottom: 0 solid $gray-4;
      padding-bottom: 0;
      &:active,
      &:hover {
        color: $gray-0;
      }
    }
  }
}

.huge{
  font-size: 3.8rem;
  line-height: 3.5rem;
  margin-top: 0.0rem;
}
.lead{
  font-size: 24px;
}

.invert{
  color: $gray-0;
  h1,h2,h3,h4,h5,h6,p{
    color: $gray-0;
  }
  a, .link {
    color: $gray-0;
    border-bottom: 2px solid $gray-0;
  }
  #menu-trigger .inner span, .overlay-close .inner span{
    background: $gray-0;
  }
  input{
    background: transparent;
    color: $gray-0;
    border: $border solid $gray-0;
  }
  .btn{
    background: $gray-0;
    border: $border solid $gray-0;
    color: $color-5;
    &.hollow{
      background: transparent;
      color: $gray-0;
      border: $border solid $gray-0;
    }
  }
}

// General Resets
.no-margin { margin: 0; }
.no-padding { padding: 0; }
.no-float { float: none; }
.no-background { background: transparent; }
.no-border { border: 0; }

// Font Weights
.font-light { font-weight: $font-light; }
.font-regular { font-weight: $font-regular; }
.font-bold { font-weight: $font-bold; }

// Font Styles
.font-normal { font-style: normal; }
.font-italic { font-style: italic; }

// Text Modifications
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }

// Text Alignments
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

// Positions
.relative { position: relative; }
.absolute { position: absolute; }
.static { position: static; }
.fixed { position: fixed; }

// Display Types
.none { display: none; }
.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }

// Floats
.left { float: left; }
.right { float: right; }

// Lists
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}
.list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}

// Images
.img-responsive { max-width: 100%; }

// Image Positions
.img-left {
  float: left;
  margin-right: 20px;
}
.img-right {
  float: right;
  margin-left: 20px;
}

// Disable Element
.disabled {
  pointer-events: none;
  opacity: .5;
}
