// ==========================================================================
// Base – Helpers
// ==========================================================================

*:focus {
  outline: 0;
}
*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
  overflow-x: hidden;
}

section.block{
  padding-top: 90px;
  padding-bottom: 90px;
  .inner{
    @extend .container;
  }
}

/* Verically center and set background to cover, set height to viewport in js. */
.cover{
  @extend .invert;
  //background: url('assets/img/spark.jpg') no-repeat center top;
  //background-size: cover;
  background: $color-6;
  position: relative;
  // Center with Flexbox
  display: flex;
  align-items: center;
  justify-content: center;
  .inner{
    text-align: center;
    flex: none;
  }
}

.box-row{
  min-height: 2rem;
  background: $color-6;
  border-radius: $radius;
  overflow: hidden;
  text-align: center;
  color: $gray-0;
  margin-bottom: 1.5rem;
}

.callout{
  background: $callout-bg-color;

  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before,
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    background: $callout-bg-color;
  }

}
.footer{
  padding-top: 40px;
  padding-bottom: 40px;
  color: $gray-4;
  background: $gray-8;
}
.huge{
  font-size: 3.8rem;
  line-height: 3.5rem;
  margin-top: 0.0rem;
}
.lead{
  font-size: 24px;
  font-weight: 100;
}

.invert{
  color: $gray-0;
  h1,h2,h3,h4,h5,h6,p{
    color: $gray-0;
  }
  #menu-trigger .inner span, .overlay-close .inner span{
    background: $gray-0;
  }
  input{
    background: transparent;
    color: $gray-0;
    border: $border solid $gray-0;
  }
  .btn{
    background: $gray-0;
    border: $border solid $gray-0;
    color: $color-5;
    &.hollow{
      background: transparent;
      color: $gray-0;
      border: $border solid $gray-0;
    }
  }
}

// General Resets
.no-margin { margin: 0; }
.no-padding { padding: 0; }
.no-float { float: none; }
.no-background { background: transparent; }
.no-border { border: 0; }

// Font Weights
.font-light { font-weight: $font-light; }
.font-regular { font-weight: $font-regular; }
.font-bold { font-weight: $font-bold; }

// Font Styles
.font-normal { font-style: normal; }
.font-italic { font-style: italic; }

// Text Modifications
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }

// Text Alignments
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

// Positions
.relative { position: relative; }
.absolute { position: absolute; }
.static { position: static; }
.fixed { position: fixed; }

// Display Types
.none { display: none; }
.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }

// Floats
.left { float: left; }
.right { float: right; }

// Lists
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}
.list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}

// Images
.img-responsive { max-width: 100%; }

// Image Positions
.img-left {
  float: left;
  margin-right: 20px;
}
.img-right {
  float: right;
  margin-left: 20px;
}

// Disable Element
.disabled {
  pointer-events: none;
  opacity: .5;
}
