body.fixed-menu-horizontal{
  nav.menu-horizontal{
    background: $nav-bg-color;
    position: fixed;
    top:0;
    left: 0px;
    width: 100%;
    z-index: 5;
  }
}

nav.menu-horizontal{
  background: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  .inner{
    @extend .container;
    .branding{
      @extend .left;
      color: $color-1;
      padding: 1.2rem 0.0rem;
      font-weight: $font-bold;
      border: 0;
    }
    ul{
      @extend .right;
      @extend .list-unstyled;
      @extend .list-inline;
      li{
        a{
          color: $color-3;
          padding: 1.2rem 1.2rem;
          display: block;
          border: 0;
          &:active,
          &.active,
          &:hover {
            color: $color-1;
          }
        }
      }
      li:last-child a {
        padding: 1.2rem 0.0rem 1.2rem 1.2rem;
      }
    }
  }
}


body.overlayMenu-open{
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
  .overlay-menu{
    visibility: visible;
    opacity: 1;
  }
}
.overlay-menu{
  background: $color-6;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
  overflow-y: auto;
  // Hide
  visibility: hidden;
  opacity: 0.0;
  // Center with Flexbox
  display: flex;
  align-items: center;
  justify-content: center;
  .inner{
    // Center with Flexbox
    text-align: center;
    flex: none;
  }
  ul{
    li{
      a{
        color: $color-3;
        padding: 1.0rem 0;
        display: block;
        font-size: 28px;
        border: 0;
        &:active,
        &.active,
        &:hover {
          color: $gray-0;
        }
      }
    }
  }

}


// Mobile Menu
#menu-trigger {
  width: 80px;
  height: 72px;
  padding: 20px;
  position: relative;
  margin: 50px auto;
  transform: rotate(0deg);
  transition: .3s ease-in-out;
  cursor: pointer;
  &.is-active{
    .inner{
      span{
        &:nth-child(1), &:nth-child(4)  {
          top: 14px;
          width: 0%;
          left: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
  .inner{
    position: relative;
    width: 40px;
    height: 32px;
    padding: 0;
    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #222222;
      border-radius: 0px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .2s ease-in-out;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2), &:nth-child(3) {
        top: 14px;
      }
      &:nth-child(4) {
        top: 28px;
      }
    }
  }
}

/* .menu-trigger{
  position: absolute;
  padding: 24px 28px;
  top: .7rem;
  right: 0.85rem;
  z-index: 100;
  cursor: pointer;
  span{
    background: $gray-6;
    position: absolute;
    transition: transform .35s ease-out;
    width:32px;
    height:2px;
    display:block;
    &.one{
        top:13px;
        left:10px;
        opacity:1;
    }
    &.two{
        top:24px;
        left:10px;
        opacity:1;
    }
    &.three{
        top:35px;
        left:10px;
        opacity:1;
    }
    &.four{
        transform: rotate(0deg);
        top:23px;
        left:10px;
        opacity:0;
    }
    &.five{
        transform: rotate(0deg);
        top:23px;
        left:10px;
        opacity:0;
    }
  }
}

body.overlayMenu-open{
  .menu-trigger span{
    &.one{
        transform: rotate(45deg);
        opacity:0;
    }
    &.two{
        opacity:0;
    }
    &.three{
        transform: rotate(-45deg);
        opacity:0;
    }
    &.four{
        opacity:1;
        margin:0px 0px;
        transform: rotate(45deg);
    }
    &.five{
        opacity:1;
        margin:0px 0px;
        transform: rotate(-45deg);
    }
  }
}
 */
